/*header{
    background: rgb(16, 43, 52);
}*/
/*
main{
background: rgb(187, 0, 255); 
}
.container{
    background: lightseagreen;
}

nav{
    background: yellow;
}
.container-text{
    background: gray;
}
#section-about{
    background: lightcoral;
}
footer{
    background: purple;
}
#section-skills{
    background: slateblue;
}
#section-contact{
    background: magenta;
}
#section-socialMedia{
    background: white;
}